modules = ["nodejs-18", "web", "nix"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_APPWRITE_ENDPOINT = "https://mediatechliberia.online/v1"
NEXT_PUBLIC_APPWRITE_PROJECT_ID = "vimore123"
APPWRITE_API_KEY = "standard_ec8901e6458c35b465351b30cb8614f65fc9bed299a0e813da095048d00a7a3df9923a7845a4b8e7ac46f3b1854f8074422adea91072e3742aaae24be62d30c73c2c69a73e2fa134db01819405ba0ab2a4800c45045da5a448e223a0d7b648622546cabc2d28d9fe056e9b6c4f9de0cce65550e4aea2858a4fc50d3e64a4be92"
APPWRITE_DATABASE_ID = "vimoreprod"
NEXT_PUBLIC_APPWRITE_DATABASE_ID = "vimoreprod"
GROQ_API_KEY = "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"
NEXT_PUBLIC_AGORA_APP_ID = "4afa1dbbd2ee4695ad1d29eaa0310ca3"
AGORA_APP_CERTIFICATE = "5b9d6ac5ef2f467390d5d23d1ab0279c"
